body {
  background-color: green;
}

.car {
  width: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.1s;
}

.west {
  transform: rotate(180deg);
}

.east {
  transform: rotate(0deg);
}

.north {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(90deg);
}
